/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Colors */
$primary: #FF9800;
$darkpri: #F57C00;
$lightpri: #FFE0B2;

$texticon: #FFFFFF;
$primarytext: #212121;
$secondarytext: #757575;

$accent: #448AFF;
$dividercolor: #BDBDBD;

