/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Colors */
$primary: #FF9800;
$darkpri: #F57C00;
$lightpri: #FFE0B2;

$texticon: #FFFFFF;
$primarytext: #212121;
$secondarytext: #757575;

$accent: #448AFF;
$dividercolor: #BDBDBD;

$lightgrey: #f6f6f6;


/* Interactive icons */
.custom-icons {
	cursor: pointer;
	transition: 0.4 ease-in-out 0.2;
}

.custom-icons:active {
	color: $lightpri;
	margin-bottom: 7px;
}