/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Colors */
$primary: #FF9800;
$darkpri: #F57C00;
$lightpri: #FFE0B2;

$texticon: #FFFFFF;
$primarytext: #212121;
$secondarytext: #757575;

$accent: #448AFF;
$dividercolor: #BDBDBD;

$lightgrey: #f6f6f6;


/* Interactive icons */
.custom-icons {
	cursor: pointer;
	transition: 0.4 ease-in-out 0.2;
}

.custom-icons:active {
	color: $lightpri;
	margin-bottom: 7px;
}


/* Dashboard Content */
.dashboard-container {
	margin-left: 1.5rem;
}


/* Forms */
mat-error {
	font-size: 0.8rem;
	padding: 0 1rem;
}

.form-container {

	display: flex;
	flex-direction: column;
	
	padding: 1rem 1rem;
	width: 80%;
	max-width: 90%;

	.form-container-block {
		border-radius: 7px;
		border: 1px solid $dividercolor;
		margin-bottom: 2rem;

		h4 {
			margin-left: 1.5rem;
		}

		.form-container-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
	
			mat-form-field {
				width: 25rem;
				max-width: 90%;
				min-width: 30%;
			}
	
		}

	}
}